{% extends 'home/base.html' %}
{% block content %}
<div class="d-flex flex-row align-items-center justify-content-between py-3">
    <div class="h1">
		Добавить клиента
	</div>
	<div class="mb-3 mb-md-0 d-flex text-nowrap">
		<a class="btn btn-outline-primary"
		   href="{% url 'customer:customers' %}" title="Добавить нового клиента">
			К списку клиентов
		</a>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 offset-sm-3">
		<form method="post" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_div }}
			<div class="mt-3 d-flex flex-row justify-content-between">
				<div>
					<a href="{% url 'customer:customers' %}"
					   class="btn btn-outline-danger">Отменить</a>
				</div>
				<div>
					<input class="btn btn-outline-success" type="submit"
						   value="Сохранить">
				</div>
			</div>
		</form>
	</div>
</div>


{% endblock %}