{% extends 'home/base.html' %}
{% block content %}
<div class="col-4 my-5">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
        <div class="h3">Вы хотите удалить<br>{{ object.name }}?</div>
        <div class="mt-3 d-flex flex-row justify-content-between">
			<div>
				<a href="{% url 'mailing:mailings' %}"
				   class="btn btn-outline-success">Отменить</a>
			</div>
			<div>
				<button class="btn btn-outline-danger" type="submit">Удалить</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}